nav{
    width: 100%;
    background-color: red;
    ul{
        li{
            color: white;
        }
    }
}
.navbar-general{
    display: flex;
    padding: 40px;
}
.navbar-items{
    display: flex;
    gap: 30px;
}